.download {
    position: absolute;
    width: 254px;
    height: 285px;
    top: -285px;
    left: -1px;
    background: url("https://s2.music.126.net/style/web2/img/index/download.png?9ab09973cedf2ea02c9f801532810f07") no-repeat 0 0;

    .download-btn {
        display: block;
        width: 215px;
        height: 56px;
        margin: 186px 0 0 19px;
        background-position: 0 9999px;
        text-indent: -9999px;
    }

    .download-text {
        color: #8d8d8d;
        font-size: 12px;
        margin: 10px auto;
        text-align: center;
    }
}