.albums-wrap {
    :global {
        .album-content {
            margin: 20px 0 0 -50px;
            display: flex;
            flex-wrap: wrap;
            .album-item {
                width: 120px;
                height: 175px;
                margin-left: 52px;
                margin-bottom: 50px;
                .img-wrap {
                    width: 120px;
                    height: 120px;
                    position: relative;
                    img {
                        width: 120px;
                        height: 120px;
                    }
                    .mask {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 145px;
                        height: 120px;
                        background: url(https://s2.music.126.net/style/web2/img/coverall.png?765fc596386c9395f2d0d66c79dbe24b) -170px -850px no-repeat;
                    }
                    .icon-play {
                        display: none;
                        width: 28px;
                        height: 28px;
                        position: absolute;
                        right: 10px;
                        bottom: 5px;
                        cursor: pointer;
                        background: url(https://s2.music.126.net/style/web2/img/iconall.png?72093b92e7f20c6c504d8d7fdb2ac29d) 0 -140px no-repeat;
                    
                        &:hover {
                            background-position: 0 -170px;
                        }
                    
                    }
                    &:hover {
                        .icon-play {
                            display: block;
                            
                        }
                    }
                }
                .name {
                    font-size: 14px;
                    color: #333;
                    text-decoration: none;
                    line-height: 19px;
                    margin: 8px 0 3px;
                    display: block;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .time {
                    color: #666;
                    font-size: 12px;
                }
            }

        }
        .pagination-ontainer {
            display: flex;
            justify-content: center;
        }
    }
}