.detail_container {
    display: flex;
    :global {
        .left {
            width: 709px;
            border-right: 1px solid #d3d3d3;
        }
    
        .right {
            width: 271px;
        }
    }
}