.search-container {

    .pagination-ontainer {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

    .search-inp {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
    }

    .search-tabs {
        margin-bottom: 16px;

        .semi-tabs {

            .semi-tabs-bar {
                display: flex;
    
                .semi-tabs-tab {
                    flex: 1;
                    text-align: center;

                    &.semi-tabs-tab-active {
                        border-top: 2px solid #c20c0c;
                    }
                }
            }
        }
        
    }

    
}